@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Skranji&display=swap');

.home-title{
    font-family: "Skranji", sans-serif;
    font-size: 2em;
    margin-top: 49px;
    text-align: center;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
}

#heromsg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: white;
    font-family: "Open-Sans", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header{
    background-color: #81a4cd ;
}

nav a{
    color:black;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: lightgray;
}

.book, .join{
    background-color: #ed6a5a;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: lightgray;
    color:#ed6a5a;
}

#background{
    background-color:#5d576b;
}

.msg{
    background-color:white;
    color: #5d576b;
    line-height: 1.5em;
    padding: 35px;
}

.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #81a4cd;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: black;
    text-align: center;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

.logo{
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

.card-img{
    border: 10px solid #81a4cd;
}

.rivers-card, .camping-card, .rivers-card{
    margin: 200px 0;
}

main section img{
    box-sizing: border-box;
}